<style>
  .main-wrapper {
    background-color: #f1f1f1;
    width: 300px;
    margin: 20px auto;
    padding: 40px;
  }

  .login-dialog {
    list-style: none;
    padding: 0px;
  }
  .login-dialog li {
    font-size: 16px;
    line-height: 2em;
  }
  .tips {
    color: red;
    font-weight: 400;
    font-size: 12px;
  }
</style>
<div class="main-wrapper">
  <h1>CME测试demo</h1>
  <ul class="login-dialog">
    <li><input type="text" class="form-text" id="user_name" placeholder="请输入用户名" /></li>
    <li><button id="userLogin">用户登录</button></li>
  </ul>

  <div>
    <strong class="tips">* 用户名只支持英文</strong>
  </div>
</div>
